<div *ngIf="OneCallweather && OneCallweather != undefined" class="widgetsMainDiv">
    <div class="card widgetsCard humidity">
        <div class="card-body widgetsCardBody">
            <div class="widgetTitle">
                <span>{{widgetNames.humidity}}</span>
            </div>
            <div class="widgetIconDiv">
                <img [src]="'../../../assets/images/' + widgetNames.humidity + '.gif'" [alt]="widgetNames.humidity + 'Icon'">
            </div>
            <div class="widgetMeter">
                <div #gaugeHumidity class="gauge">
                    <div #gaugeHumidityBody class="gauge__body">
                        <div #gaugeHumidityFill class="gauge__fill" [ngStyle]="{background: setGaugeColourBasedOnLevel(OneCallweather.current.humidity)}"></div>
                        <div #gaugeHumidityCover class="gauge__cover">{{OneCallweather.current.humidity}}%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="card widgetsCard pressure">
        <div class="card-body widgetsCardBody">
            <div class="widgetTitle">
                <span>{{widgetNames.pressure}}</span>
            </div>
            <div class="widgetIconDiv">
                <img [src]="'../../../assets/images/' + widgetNames.pressure + '.gif'" [alt]="widgetNames.pressure + 'Icon'">
            </div>
            <div class="widgetMeter">
                <span>{{OneCallweather.current.pressure}} hPa</span>
            </div>
        </div>
    </div> -->
    <div class="card widgetsCard uvi">
        <div class="card-body widgetsCardBody">
            <div class="widgetTitle">
                <span>{{widgetNames.uvi}}</span>
            </div>
            <div class="widgetIconDiv">
                <img [src]="'../../../assets/images/' + widgetNames.uvi + '.gif'" [alt]="widgetNames.uvi + 'Icon'">
            </div>
            <div class="widgetMeter">
            </div>
        </div>
    </div>
    <div class="card widgetsCard clouds">
        <div class="card-body widgetsCardBody">
            <div class="widgetTitle">
                <span>{{widgetNames.cloudiness}}</span>
            </div>
            <div class="widgetIconDiv">
                <img [src]="'../../../assets/images/' + widgetNames.cloudiness + '.gif'" [alt]="widgetNames.cloudiness + 'Icon'">
            </div>
            <div class="widgetMeter">
                <div #gaugeCloud class="gauge">
                    <div #gaugeCloudBody class="gauge__body">
                        <div #gaugeCloudFill class="gauge__fill" [ngStyle]="{background: setGaugeColourBasedOnLevel(OneCallweather.current.clouds)}"></div>
                        <div #gaugeCloudCover class="gauge__cover">{{OneCallweather.current.clouds}}%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card widgetsCard wind">
        <div class="card-body widgetsCardBody">
            <div class="widgetTitle">
                <span>{{widgetNames.wind}}</span>
            </div>
            <div class="widgetIconDiv">
                <img [src]="'../../../assets/images/' + widgetNames.wind + '.gif'" [alt]="widgetNames.wind + 'Icon'">
            </div>
            <div class="widgetMeter">
            </div>
        </div>
    </div>
</div>