<div *ngIf="currentWeather && currentWeather != undefined" class="widgetsMainDiv">
    <div class="card widgetsCard humidity">
        <div class="card-body">
        </div>
    </div>
    <div class="card widgetsCard pressure">
        <div class="card-body">
        </div>
    </div>
    <div class="card widgetsCard uvi">
        <div class="card-body">
        </div>
    </div>
    <div class="card widgetsCard clouds">
        <div class="card-body">
        </div>
    </div>
    <div class="card widgetsCard wind">
        <div class="card-body">
        </div>
    </div>
</div>