* {
    color: white;
}

#mainLHSDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}

.unitToggler {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unitTogglerContent, .unitTogglerContentCel, .unitTogglerContentFah {
    padding: 5px;
    font-size: 20px;
}

#tempInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.temp {
    color: white;
    text-align: center;
    font-size: 80px;
}

.cityInfo {
    font-size: 50px;
}