<div id="mainLHSDiv">
    <div class="unitToggler">
        <div class="unitTogglerContentCel">
            <span>&#8451;</span>
        </div>
        <div class="unitTogglerContent">
            <mat-slide-toggle color=primary [(ngModel)]="unitTypeFahrenheit" (change)="handleSwitchSelection()"></mat-slide-toggle>
        </div>
        <div class="unitTogglerContentFah">
            <span>&#8457;</span>
        </div>
    </div>
    <div class="tempInfo" *ngIf="locationWeatherData">
        <!-- Celcius -->
        <div class="temp" *ngIf="displayUnitType === 'celcius'">
            {{locationWeatherData.main.temp | number: '1.0-0'}}
            <span>&#8451;</span>
        </div>
        <!-- Fahrenheit -->
        <div class="temp" *ngIf="displayUnitType === 'fahrenheit'">
            {{locationWeatherData.main.temp | number: '1.0-0'}}
            <span>&#8457;</span>
        </div>
        <div class="weatherIconDiv">
            <img [src]="iconurl" alt="Icon" class="weatherIcon">
        </div>
        <div *ngIf="locationWeatherData" class="cityInfo">
            {{locationWeatherData.name}}, {{locationWeatherData.sys.country}}
        </div>
        <div *ngIf="locationWeatherData" class="timeInfo">
            {{currentDatetime | date:'MMM d, y, h:mm a'}} &nbsp; <span>UTC</span>
        </div>
    </div>
</div>
