*{
    color: white;
}

#mainLHSDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.unitToggler{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unitTogglerContent, .unitTogglerContentCel, .unitTogglerContentFah{
    padding: 5px;
    font-size: 20px;
}

.temp{
    color: white;
    text-align: center;
    font-size: 80px;
}

.cityInfo{
    font-size: 50px;
}