* {
    color: white;
}

#mainLHSDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}

.unitToggler {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unitTogglerContent, .unitTogglerContentCel, .unitTogglerContentFah {
    padding: 5px;
    font-size: 20px;
}

.tempCityInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.temp {
    color: white;
    text-align: center;
    font-size: 65px;
}

.weatherIconDiv {
    height: 130px;
}

.weatherIcon {
    max-height: 80%;
    max-width: 100%
}

.weatherIcon, .weatherDesc {
    display: block;
}

.weatherDesc {
    text-align: center;
}

.cityInfo {
    font-size: 30px;
    text-align: center;
}

.timeInfoDate, .timeInfoTime {
    display: block;
    text-align: center;
    font-size: 20px;
}

/* .weatherIcon {
    height: 100px;
} */