.chartDiv {
    display: flex;
}

@media screen and (max-width: 768px) {
    .chartDiv {
        padding: 0px 2px;
    }
}

.chartCard {
    border-radius: 30px;
    background-color: #fff;
    /* This is not responsive */
    /* margin-right: 430px;
    margin-left: 50px; */
    width: 900px;
    height: 300px;
    box-shadow: var(--inside-box-shadow);
    -webkit-box-shadow: var(--inside-box-shadow);
    -moz-box-shadow: var(--inside-box-shadow);
}

.chartCard:hover {
    box-shadow: var(--box-shadow3), var(--inside-box-shadow);
    -webkit-box-shadow: var(--box-shadow3), var(--inside-box-shadow);
    -moz-box-shadow: var(--box-shadow3), var(--inside-box-shadow);
}

.chart {
    height: 300px !important;
}